<%# mood_level: 1(ðŸ˜ž) - 5(ðŸ˜) %>
<% mood_color = case mood_level
               when 1 then "#A7F3D0"  # emerald-200
               when 2 then "#6EE7B7"  # emerald-300
               when 3 then "#34D399"  # emerald-400
               when 4 then "#10B981"  # emerald-500
               when 5 then "#059669"  # emerald-600
               else "#34D399"         # fallback
               end %>


               <div class="mask mask-hexagon-2 size-4 md:size-8 flex items-center justify-center"
                 style="background-color: <%= mood_color %>;">
                </div>
