<div class="neuro-card p-2">
  <%= image_tag 'logo.png', class: 'size-6 inline-block mr-2' %>
  <span id="seed-count" data-water-effect-target="seedCount">x <%= current_user.seed_count %></span>
</div>
